body{
    color: #404040;
    font-size: 15px;
    font-family: "sans-serif";
    line-height: 1.5;
    text-align: left;
    background-color: #F7F7F7;
}
.body{
    margin: 0 auto;
    width: 650px;
    clear: both;
}
a{
    text-decoration: none;
}
a:link,a:visited{  color: #1090BA;
}
a:hover,a:active{
    background-color: #FFF;
}
.mainHeader nav {
    background-color: #F7F7F7;
    height: 40px;
    border-radius: 5px;
    -moz-border-right: 5px;
    -webkit-border-radius: 5px;
    width:680px;
    padding-top: 20px;
}
.mainHeader nav ul{
    list-style: none;
    margin: 0 auto;
}
.mainHeader nav ul li{
    float: right;
    display: inline;
    font-weight: bold;
    font-family: sans-serif;
}
.mainHeader nav a:link,.mainHeader nav a:visited{
    color: #AAAAAA;
    display:inline-block;
    padding: 10px 25px;
    height: 20px;
}
.mainHeader nav a:hover,
.mainHeader nav a:active,
.mainHeader nav .active a:link,
.mainHeader nav .active a:visited{
    background-color:#CF5C3F;
    text-shadow: none;
    color: #AAAAAA;
}
.mainHeader nav .active
{
  font-size: 12px;
}
.mainHeader nav ul li a{
    border-radius: 10px;
    -moz-border-right:10px;
    -webkit-border-radius:10px;
}
.mainContent{
    line-height: 25px;

}
.content{
    width: 650px;
    float: left;
    margin-bottom: 30px;
}
.topContent{
    background-color: #FFFFFF;
    line-height: 25px;
    border-radius: 2px;
    -moz-border-right:5px;
    -webkit-border-radius:5px;
    padding: 50px 50px;
    margin-top: 5px;
    margin-bottom: -90px;
}
.bottomContent{
    background-color:#FFFFFF;
    line-height: 25px;
    border-radius: 5px;
    -moz-border-right:5px;
    -webkit-border-radius:5px;
    padding: 50px 50px;
    margin-top: 0px;
    border-radius: 0px;
    background-color: #FFFFFF;
}
.tickets{
    border-top: 1px solid #DEDEDE;
    margin-top: 10px;
}
.mainFooter{
    border-bottom: 1px solid #DEDEDE;
}
.mainFooter nav{
    height:50px;
    border-radius: 5px;
    -moz-border-right:5px;
    -webkit-border-radius:5px;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    width: 680px;
    padding-top: 10px;
}
.link-table nav ,.about nav ul{
    padding-left: 20px;
    display:block;
}
 .mainFooter nav ul{
    margin: 0 auto;
    font-size: 10px;
}
.mainFooter nav ul li{
    float: left;
    font-size: 12px;
    color:#A7A7A7;
}
.link-table nav a:link{
    color: #1090BA;
}
.mainFooter nav a:link,
.mainHeader nav a:visited
{
    color: #AFAFAF;
    display:inline-block;
    padding: 10px 25px;
    height: 20px;
}
.mainFooter nav a:hover,
.link-table nav a:hover,
.mainFooter nav a:active,
.mainFooter nav .active a:link,
.mainFooter nav .active a:visited {
    background-color: #CF5C3F;
    text-shadow: none;
    color: #C8C8C8;
}
.mainFooter nav .active a
{
    font-size: 20px;
    list-style: none;
}
.mainFooter nav ul li:first-child  {
    list-style: none;
}
.link-table nav ul li:first-child  {
    list-style: none;
}
.mainFooter nav ul li a{
    border-radius: 10px;
    -moz-border-right:10px;
    -webkit-border-radius:10px;
    color:#444444;
}
.footer{
margin-left: 150px;
    font-size: 15px;
}
.post-info{
    font-style: italic;
    color: #999;
    font-size: 8px;
}
h1{
    color: #f6682f;
    font-weight: bold;
    font-family: sans-serif;
    font-size:25px;
}
h2{
}
h4{
    color: #999;
}
.img-logo{
    margin-left:-40px;
}
.table{
    width:600px;
    text-align: center;
    background-color: #FFFFFF;
    padding-bottom: 30px;
    color: #666666;
}
.mobile{
    padding-top:20px;
}
.questions
{
    border-radius: 0px;
    border-bottom: 1px solid #DEDEDE;
    border-top: 1px solid #DEDEDE;
    background-color: #FFFFFF;
    padding-bottom: 40px;
    padding-top:30px;;
}
.question{
    margin-left: 20px;
    margin-top: 20px;
}
.about
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top:0px;
}
.create  {
    margin-bottom: 30px;
    margin-top: 10px;

}
.link-table p{
    padding-left: 5px;

}
@media only screen and  (min-width:200px) and (max-width: 600px)
{
    .body{
        margin: 0 auto;
        width:250px;
        font-size:14px;
    }
   .mainFooter nav  {
       height:250px;
       width: 150px;
       border-style: none;
       padding-left: 30px;
   }

    .mainHeader nav{
        height:200px;
        width: 200px;
    }
    .mainHeader nav ul ,.mainFooter nav ul{
        padding-left: 0px;
        list-style: none;
    }
    .mainHeader nav ul li {
        width:150px;
        text-align: center;
    }
    .mainHeader nav a:link,.mainHeader nav a:visited{
        padding: 10px 25px;
        height: 20px;
        display: block;
    }
    .mainHeader nav ul li a{
        border-radius: 5px;
        -moz-border-right:5px;
        -webkit-border-radius:5px;
    }
    .content{

        width:300px;
        float: left;
        margin-top: 20px;
        overflow: hidden;
    }
    .topContent{
        background-color: #FFFFFF;
        line-height: 25px;
        border-radius: 2px;
        -moz-border-right:5px;
        -webkit-border-radius:5px;
        padding: 30px 50px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .table{
        width:200px;
        text-align: center;
        border-radius: 0px;
        border-bottom: 1px solid #DEDEDE;
        background-color: #FFFFFF;
        display: inline-block;
    }
 .footer{
     margin-left: 0px;
 }
    .link-table nav {
        height:100px;
        width: 200px;
    }
 .table td ,.create td{
     display: inline-table;
 }
 h1{
    font-size: 50px;
 }
    .link-table td {
        display: inline-table;
        text-align: left;
        margin: 5px;
        width:250px;
    }
    .link-table nav li{
        list-style: none;
    }
    .link-table p{
        margin-left: 0px;
        padding-left: 0px;
    }
    .img{
        width: 200px;
    }
    .img-logo{
       padding-left: 85px;
    }

}